<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="utf-8">
	<title>@@@ Style Guide</title>
	<link rel="stylesheet" href="/resources/css/common.css" />
	<link rel="stylesheet" href="/resources/css/contents.css" />
	<script type="text/javascript" src="/resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/resources/js/common.js"></script>
	<style type="text/css">
		body {
			padding: 150px 30px 0;
			letter-spacing: 0
		}

		.titCntXl {
			display: block;
		}

		.wrap .headerb {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: auto;
			padding: 20px 30px 25px;
			border: 1px solid #ddd;
			background: #000;
			z-index: 999
		}

		.wrap .headerb .tit {
			font-size: 25px;
			color: #fff;
			text-align: center;
		}

		.wrap .headerb .tit img {
			width: 200px;
		}

		.nav,
		.contents {
			width: 100%;
			max-width: 1280px;
			margin: 0 auto;
		}

		.contents>h1 {
			margin: 0 0 15px;
			font-size: 26px;
			color: #000;
		}

		.box {
			position: relative;
			padding: 0 20px 25px;
			margin: 0 0 25px;
			border: 1px solid #ddd;
			border-radius: 10px;
		}

		.box>h2 {
			margin: 25px 0 15px 0;
			font-size: 18px;
			color: #333;
		}

		.box h3 {
			margin: 25px 0 15px 0;
			font-size: 15px;
			color: #333;
		}

		.nav ul {
			margin: 20px auto 0;
			text-align: center;
		}

		.nav li {
			display: inline-block;
			margin: 0 2px;
		}

		.nav li a {
			display: block;
			padding: 10px 20px 12px;
			font-size: 16px;
			color: #fff;
			background: #735EEB;
		}

		.sampleBox{
			width:50px;
			height:50px;
			line-height:50px;
			background: #735EEB;
			text-align: center;
			color:#fff;
		}
	</style>
	<script type="text/javascript">
		$(function () {
			// map 이동
			function scrollToAnchor(aid) {
				var aTag = $("[id='" + aid + "']");
				$('html, body').animate({ scrollTop: aTag.offset().top - 165 }, '');
			}
			$('.nav li a').click(function () {
				var href = $(this).attr('href').replace('#', '');
				scrollToAnchor(href);
				return false;
			});
			launch_toast();
			cntAgree();
		});
	</script>
</head>

<body>
	<div class="wrap">
		<div class="headerb" id="top">
			<h1 class="tit">씨젠의료사업서비스 <span s>[mobile]</span> <span class="txt">퍼블리싱 가이드</span></h1>
			<nav class="nav">
				<ul>
					<li><a href="#Layout">Layout</a></li>
					<li><a href="#Typography">Typography</a></li>
					<li><a href="#buttons">Buttons</a></li>
					<li><a href="#tabs">Tabs</a></li>
					<li><a href="#Forms">Forms</a></li>
					<li><a href="#Tables">Tables</a></li>
					<li><a href="#Popup">Popup</a></li>
				</ul>
			</nav>
		</div>

		<!-- contents : s -->
		<div class="contents">
			<!-- ##### Typography -->
			<h1 id="Typography">Typography</h1>
			<div class="box">
				<h2># Typography</h2>
				<p class="typo_b">Noto Sans KR Bold</p>
				<p class="typo_m">Noto Sans KR Medium</p>
				<p class="typo_r">Noto Sans KR Regular</p>
				<p class="typo_l">Noto Sans KR Light</p>
				<br><br>

				<h2># Title</h2>
				<p class="title_01 mb3"> title_01 - 씨젠클리닉 소개</p>
				<p class="title_02 mb3"> title_02 - 씨젠클리닉 소개</p>
				<p class="title_03 mb3"> title_03 - 씨젠클리닉 소개</p>
				<p class="title_04 mb3"> title_04 - 씨젠클리닉 소개</p>
				<p class="title_05 mb3"> title_05 - 씨젠클리닉 소개</p>
				<p class="title_06 mb3"> title_06 - 씨젠클리닉 소개</p>
				<p class="title_07 mb3"> title_07 - 씨젠클리닉 소개</p>
				<p class="title_08 mb3"> title_08 - 씨젠클리닉 소개</p>
				<p class="title_09 mb3"> title_09 - 씨젠클리닉 소개</p>
				<p class="title_10 mb3"> title_10 - 씨젠클리닉 소개</p>
				<p class="title_11 mb3"> title_11 - 씨젠클리닉 소개</p>
				<p class="title_12 mb3"> title_12 - 씨젠클리닉 소개</p>
				<br><br>

				<h2># content_text</h2>
				<p class="contTxt_01 mb3"> - contTxt_01<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_02 mb3"> - contTxt_02<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_03 mb3"> - contTxt_03<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_04 mb3"> - contTxt_04<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_05 mb3"> - contTxt_05<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_06 mb3"> - contTxt_06<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<p class="contTxt_07 mb3"> - contTxt_07<br> 씨젠클리닉을 소개합니다. 국내최초로 의원급 병원에서 분자진단을 받을 수 있습니다.</p>
				<br><br>

			</div>
			<!-- //Buttons -->

			<!-- ##### Buttons -->
			<h1 id="buttons">Buttons</h1>
			<div class="box"> 
				<h2># button - basic</h2>
				<p class="mb3">
					<button type="button" class="btn_text_size01">Button</button>
					<button type="button" class="btn_text_size01 active">Button</button>
					<button type="button" class="btn_text_size01 disabled">Button</button>
					<button type="button" class="btn_text_size02">Button</button>
					<button type="button" class="btn_text_size02 active">Button</button>
					<button type="button" class="btn_text_size02 disabled">Button</button>
					<button type="button" class="btn_text_size03">Button</button>
					<button type="button" class="btn_text_size03 active">Button</button>
					<button type="button" class="btn_text_size03 disabled">Button</button>
				</p>
				<p class="mb3">
					<button type="button" class="btn_fill_color01">Button</button>
					<button type="button" class="btn_fill_color01">Button</button>
					<button type="button" class="btn_fill">Button</button>
					<button type="button" class="btn_fill disabled">Button</button>
					<button type="button" class="btn_fill sm">Button</button>
					<button type="button" class="btn_fill sm disabled">Button</button>
				</p>
				<p class="mb3">
					<button type="button" class="btn_border_color01">Button</button>
					<button type="button" class="btn_border_color01">Button</button>
					<button type="button" class="btn_border">Button</button>
					<button type="button" class="btn_border disabled">Button</button>
					<button type="button" class="btn_border_color01 sm"><i></i>Button</button>
					<button type="button" class="btn_border sm">Button</button>
					<button type="button" class="btn_border sm disabled">Button</button>
				</p>

				<h2># Rabels ??? 무슨용도</h2>
				<p class="mb3">
					<p class="rabel_fill_color01">Rabel</p>
					<p class="rabel_fill">Rabel</p>
					<p class="rabel_fill radius">Rabel</p>
				</p>
				<p class="mb3">
					<p class="rabel_border_color01">Rabel</p>
					<p class="rabel_border">Rabel</p>
				</p>


				<h2># Elevations</h2>
				<div class="mb7">
					<div class="box_shadow01" style="width: 100px; height: 100px; display: inline-block; margin-right: 20px;">

					</div>
					<div class="box_shadow02" style="width: 100px; height: 100px; display: inline-block;">

					</div>
				</div>


				<h2># button - 버튼 </h2>
				<div class="btnArea">
					<a href="">버튼1</a>
					<a href="">버튼2</a>
				</div><br><br>
				<div class="btnArea">
					<a href="" class="btn_fill">btn_fill</a>
				</div><br><br>
				<div class="btnArea">
					<a href="" class="btnColorA">btnColorA</a>
				</div><br><br>
				<div class="btnArea typeC">
					<a href="">btnArea typeC</a>
					<a href="">btnArea typeC</a>
				</div><br><br>
				<h2># button - 버튼 1개시</h2>
				<div class="btnArea typeB">
					<a href="">btnArea typeB</a>
				</div>

			</div>
			<!-- //Buttons -->

			<!-- ##### Forms -->
			<h1 id="Forms">Forms</h1>
			<div class="box">
				<h2># Input [type="text"]</h2>
				<div class="inputBox" >
					<p class="input"><input type="text" name="" placeholder="입력하세요."></p>
					<p class="input on"><input type="text" name="" placeholder="" value="텍스트인풋"></p>
					<p class="input disabled"><input type="text" name="" placeholder="" value="텍스트인풋" disabled></p>
				</div>

				<h2># Input [type="text"] + unit</h2>
				<div class="inputBox centerFlex" >
					<p class="input">
						<input type="text" name="">
					</p>
					<span class="unit">Kg</span>
				</div>

				<h2># Input [type="file"] + button</h2>
				<div class="wrapInputFile" >
					<div class="add">
						<input type="text" class="input" placeholder="+ 이미지 5MB이내 / 최대 2장 첨부 가능" readonly="readonly">
						<label for="inputFile01">첨부파일</label>
						<input type="file" id="inputFile01" class="inputFile">
					</div>
				</div>
				
				<h2># Input +  SearchBtn</h2>				
				<div class="inputBox centerFlex" >
					<p class="input">
						<input type="text" name="">
					</p>
					<button type="button" class="btnSearch">서치</span>
				</div>
				
				
				<h2># Input [type="text"] + validation check</h2>
				<div class="inputVali">
					<p class="input">
						<input type="text" name="">
					</p>
					<p class="validation red">
						<small>Error MessageError MessageError MessageError Message</small>
					</p>					
				</div>
				<p class="input"><input type="password" name="" placeholder="비밀번호 입력하세요. // 12자" maxlength="12"></p>

				<h2># CheckBox</h2>
					<h3> - CHECK typeA</h3>
					<p class="inputCheck typeA">
						<input type="checkbox" id="check01">
						<label for="check01">
							<span class="bul"></span>
							체크박스01
						</label>
					</p>
					<p class="inputCheck typeA">
						<input type="checkbox" id="check02">
						<label for="check02">
							<span class="bul"></span>
							<a href="#">이용약관으로 이동이동</a>
						</label>
					</p>
					<h3> - ALL CHECK</h3>
					<div class="cntAgree">
						<p class="inputCheck typeA chckAll"><input type="checkbox" name="chckAll" id="chckAll01"><label for="chckAll01">
							<span class="bul"></span>전체 동의</label>
						</p>
						<div class="agree_list">
							<p class="inputCheck typeA"><input type="checkbox" name="chckAgree" id="chckAgree01"><label for="chckAgree01">
								<span class="bul"></span>서비스 이용약관1</label>
							</p>
							<p class="inputCheck typeA"><input type="checkbox" name="chckAgree" id="chckAgree02"><label for="chckAgree02">
								<span class="bul"></span>서비스 이용약관2</label>
							</p>
							<p class="inputCheck typeA"><input type="checkbox" name="chckAgree" id="chckAgree03"><label for="chckAgree03">
								<span class="bul"></span>서비스 이용약관3</label>
							</p>
						</div>
					</div>
				<h2># RadioButton</h2>				
				<div class="box">
					<h3> - Radio typeA</h3>
					<p class="inputRadio typeA">
						<input type="radio" name="test01" id="radio01" checked>
						<label for="radio01">
							<span class="bul"></span> 씨젠클리닉
						</label>
					</p>
					<p class="inputRadio typeA">
						<input type="radio" name="test01" id="radio02">
						<label for="radio02">
							<span class="bul"></span> 씨젠클리닉
						</label>
					</p>
					<p class="inputRadio typeA">
						<input type="radio" name="test01" id="radio03">
						<label for="radio03">
							<span class="bul"></span> 씨젠클리닉
						</label>
					</p>


					
					<h3> - Radio btnToggle</h3>
					<div class="btnArea btnToggle">
						<input type="radio" name="gender" id="gender01" checked><label for="gender01">남</label>
						<input type="radio" name="gender" id="gender02"><label for="gender02">여</label>
					</div>
				</div>

				<h2># Select</h2>
				<div class="box ">
					<p class="select">
						<select>
							<option value="">1</option>
							<option value="">2</option>
						</select>
					</p>
				</div>

				<h2># Textarea</h2>				
				<div class="box">
					<textarea maxlength="1000"></textarea>
				</div>

			</div>
			<!-- //Forms -->

			<!-- ##### Layout -->
			<h1 id="Layout">Layout</h1>
			<div class="box" style="background:#eee">
				<h2># HEADER - .header</h2>
				<header class="header" style="position: inherit;">
					<div class="headerBox">
						<h1>
							<span class="tit">Title</span>
						</h1>
						<button type="button" class="btn_left">
							<i class="ico_bugger"></i>
						</button>
						<a href="#" class="btn_right">
							<div class="notic_ico">
								<i class="ico_bell"></i>
								<p class="num"><span>+99</span></p>
							</div>
						</a>
					</div>
				</header>	
								
				<h2># HEADER + header</h2>
				<header class="header" style="position: inherit;">
					<div class="headerBox">
						<h1>
							<span class="tit">Title</span>
						</h1>
						<button type="button" class="btn_left">
							<i class="ico_back"></i>
						</button>
						<a href="#" class="btn_right">
							<i class="ico_close"></i>
						</a>
					</div>
					<div class="subHeader">
						<button type="button" class="btn_left">
							<i class="ico_back"></i>
						</button>
						<h2>서브타이틀</h2>
					</div>
				</header>
			
				<h2># FOOTER BUTTON                </h2>
				<div class="footer" style="position: inherit;">
					<ul>
						<li class="on">
							<a href="#">
								<i class="ico_home"></i>
								<span>홈</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="ico_data"></i>
								<span>검진데이터</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="ico_doc"></i>
								<span>나의 주치의</span>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="ico_my"></i>
								<span>마이페이지</span>
							</a>
						</li>
					</ul>
				</div>
				
				<h2># FOOTER BUTTON - .footer.typeB</h2>
				<div class="footer typeB" style="position: inherit;">
					<div class="btnArea">
						<a href="" class="btn_border disabled">버튼1</a>
					</div>
				</div>

				<h2># DISPLAY Flex</h2>
				<div class="box" >
					<h3> - 양끝배치 :: .layoutFlex.betweenFlex</h3>
					<div class="box layoutFlex betweenFlex" >
						<p class="sampleBox">box1</p>
						<p class="sampleBox">box2</p>
						<p class="sampleBox">box3</p>
					</div>

					<h3> - 분할중앙배치 :: .layoutFlex.shareFlex</h3>
					<div class="box layoutFlex shareFlex" >
						<p class="sampleBox">box1</p>
						<p class="sampleBox">box2</p>
						<p class="sampleBox">box3</p>
						<p class="sampleBox">box4</p>					
					</div>

					<h3> - 좌측정렬 :: .layoutFlex.leftFlex</h3>
					<div class="box layoutFlex leftFlex" >
						<p class="sampleBox">box1</p>
						<p class="sampleBox">box2</p>					
					</div>

					<h3> - 우측정렬 :: .layoutFlex.rightFlex</h3>
					<div class="box layoutFlex rightFlex" >
						<p class="sampleBox">box1</p>
						<p class="sampleBox">box2</p>					
					</div>

					<h3> - 수직수평중앙 :: .layoutFlex.centerFlex</h3>
					<div class="box layoutFlex centerFlex" style="height: 150px; padding:0" >
						<p class="sampleBox">box1</p>
						<p class="sampleBox">box2</p>					
					</div>
				</div>


			</div>
			<!-- //Layout -->


			<!-- ##### Tabs -->
			<h1 id="tabs">Tabs</h1>
			<div class="box">
				<h2># Tab - typeA</h2>
				<div class="tabBox">
					<ul class="tabs">
						<li class="active" rel="tab1">메뉴1</li>
						<li rel="tab2">메뉴2</li>
					</ul>
					<div class="tab_container">
						<div id="tab1" class="tab_content">내용1</div>
						<div id="tab2" class="tab_content">내용2<br>내용2</div>
					</div>
				</div>
			</div>
			<!-- //Tabs -->


			<!-- ##### Tables -->
			<h1 id="Tables">Tables</h1>
			<div class="box">
				<h2># Tables - TypeA</h2>
				<div>
					<table class="tblTypeA">
						<colgroup>
							<col width="57%">
							<col width="43%">
							<col>
						</colgroup>
						<thead>
							<tr>
								<th>걸음</th>
								<th>피해</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>5,000 달성</td>
								<td>1</td>
							</tr>
							<tr>
								<td>200,000 달성</td>
								<td>추가 1</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<!-- // Tables -->

			<!-- ##### Popup -->
			<h1 id="Popup">Popup</h1>
			<div class="box">
				<h2># Popup - base</h2>
				<div>
					<div class="btnArea">
						<a href="javascript:openLayer('.pop01');" class="btnColorA">팝업열기</a>
					</div>
					<!-- laeyr poup - 상세 설명 :  -->
					<div class="wrapPop pop01">
						<div class="popCnt">
							<h2 class="titCnt">선택 프로그램</h2>
							<div class="cnt tac">
								A message should be a short,
									complete sentence.
							</div>
							<!-- btn -->
							<div class="btnArea">
								<a href="javascript:closeLayer('.pop01');" class="btn_pop_style01">Action</a>
								<a href="javascript:closeLayer('.pop01');" class="btn_pop">Action</a>
							</div>
						</div>
					</div>
					<!-- //laeyr poup - 상세 설명 :  -->
				</div>

				<h2># Popup - 토스트팝업</h2>
				<div>
					
					<div class="btnArea">
						<a href="javascript:launch_toast();" class="btnColorA">토스트 보기</a>
					</div>
					<div id="toast" class="toast">
						<p>축하합니다.회원가입이 완료되었습니다.</p>
					</div>
				</div>

			</div>
			<!-- // Popup -->

		</div>
	</div>
</body>

</html>