<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
	<meta name="description" content="씨젠의료사업서비스">
	<meta name="format-detection" content="telephone=no">
	<title>Seegene_mobile</title>
	<script type="text/javascript" src="/resources/js/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/resources/js/common.js"></script>
	<!--style CSS-->
	<link rel="stylesheet" href="/resources/css/common.css" />
	<link rel="stylesheet" href="/resources/css/contents.css" />
	<script type="text/javascript">
		$(function(){
			cntAgree(); //전체동의
		});
	</script>
</head>
<body>
<!-- wrap -->
<div class="wrap">
	<!--  container  -->
	<div class="container agreement01">
		<!-- header -->
		<header class="header noBg">
			<div class="headerBox">
				<a href="#" class="btn_right">
					<i class="ico_close"></i>
				</a>
			</div>
		</header>
		<!-- //header -->
		<!--contents-->
		<div class="contents">
			<div class="agreement_box">
				<h2 class="title_purple tac">
					서비스 이용약관 동의
				</h2>
				<div class="cntAgree">
					<p class="inputCheck typeA chckAll">
						<input type="checkbox" name="chckAll" id="chckAll01">
						<label for="chckAll01">
							<span class="bul"></span>전체 항목에 동의합니다.
						</label>
					</p>
					<div class="agree_list">
						<p class="inputCheck typeA">
							<input type="checkbox" name="chckAgree" id="chckAgree01">
							<label for="chckAgree01">
								<span class="bul"></span>통합서비스 이용약관 동의 (필수)
							</label>
							<a href="" class="btn_text_size03 txt_r">전체보기</a>
						</p>
						<p class="inputCheck typeA">
							<input type="checkbox" name="chckAgree" id="chckAgree02">
							<label for="chckAgree02">
								<span class="bul"></span>민감정보 수진 및 이용 동의 (필수)
							</label>
							<a href="" class="btn_text_size03 txt_r">전체보기</a>
						</p>
						<p class="inputCheck typeA">
							<input type="checkbox" name="chckAgree" id="chckAgree03">
							<label for="chckAgree03">
								<span class="bul"></span>개인정보 수집 이용 동의  (필수)
							</label>
							<a href="" class="btn_text_size03 txt_r">전체보기</a>
						</p>
						<p class="inputCheck typeA">
							<input type="checkbox" name="chckAgree" id="chckAgree04">
							<label for="chckAgree04">
								<span class="bul"></span>마케팅정보 수신 동의 (선택)
							</label>
							<a href="" class="btn_text_size03 txt_r">전체보기</a>
						</p>
					</div>

				</div>
			</div>
		</div>
		<!--//contents-->
		<!-- footer -->
		<footer class="footer typeB">
			<div class="btnArea">
				<a href="" class="btn_fill ">완료</a>
			</div>
		</footer>
		<!-- //footer -->
	</div>
</div>
<!-- //wrap -->
</body>
</html>