@charset "utf-8";

/* common */
.wrap .cntIntrod,
.wrap .memJoin,
.wrap .cntIndenti{margin-top:-48px;} /* header 없는 페이지들 */
pre{font-family:'Spoqa Han Sans', 'Sans-serif';white-space:pre-wrap;}

.wrap [class^="cnt"] .infoUpdate{height:40px;padding:0 24px;font-size:1.08333rem;color:#6f6f6f;text-align:right;line-height:40px;border-bottom:1px solid #d7d7d7;}
.wrap [class^="cnt"] .infoUpdate .ico,
.wrap [class^="cnt"] .icoInfo{display:inline-block;width:23px;height:23px;margin:-2px 0 0 7px;font-size:0;text-indent:-9999px;vertical-align:middle;-webkit-border-radius:100%;border-radius:100%;border:1px solid #888;background:url(/resources/ko/images/common/obj_group.png) no-repeat -82px -1px;background-size:200px;}
.wrap [class^="cnt"] .infoUpdate span{display:inline-block;margin-left:4px;}

.wrap .wrapData{padding:19px 0;border-bottom:1px solid #e9e9e9}
.wrap .wrapData .txtData{display:-webkit-box;}
.wrap .wrapData .txtData > div{-webkit-box-flex:1;width:100%;font-size:1.33333rem;color:#929292;text-align:center;}
.wrap .wrapData .txtData .num{display:block;margin:5px 0 7px;font-size:2rem;font-weight:normal;color:#557fcd;line-height:1;}
.wrap .wrapData .info{margin:19px 0 0 0;font-size:1.08333rem;color:#747474;text-align:center;}


/* ========== LOGIN ========== */
/*sns login*/
.container.login01{background: #fff; padding-bottom: 116px;}
.container .snsLogin_box{padding:32px 40px 0;}
.container .snsLogin_box:after{content: 'brand name'; display: block; width: 122px; height:20px; margin:0 auto; background: #6666CC;}
.container .snsLogin_box .title_purple{margin-bottom:88px; word-break: keep-all;}
.container .snsLogin_box .title_purple::before{content: ''; display: block; margin:0 auto 24px; width:40px; height:40px; background:url(../images/common/logo_ico.png)no-repeat center; background-size: cover;}
.container .snsLogin_box .sns_btn{margin-bottom: 124px;}
.container .snsLogin_box .btn_border_snsLog{display: block; width:100%; margin-bottom: 12px;}
.container .snsLogin_box [class^="ico_"] {display: inline-block;margin-right: 12px;vertical-align: middle;}
@media screen and (max-width:374px) {
    /*sns login*/
    .contents .snsLogin_box{padding: 32px 10.666% 0;}
}
/*agreement*/
.container.agreement01{background: #fff; padding-bottom: 116px;}
.container .agreement_box{padding:32px 18px 0;}
.container .agreement_box .title_purple{margin-bottom:42px}
.container .agreement_box .title_purple::before{content: ''; display: block; margin:0 auto 24px; width:40px; height:40px; background:url(../images/common/logo_ico.png)no-repeat center; background-size: cover;}
.container .inputCheck,
.container .inputCheck .txt_r{color:#6666CC}
.container .cntAgree .chckAll{margin-bottom: 23px; text-align: center; font-size: 16px; font-weight: 700; line-height: 23px;}
.container .cntAgree .chckAll input[type="checkbox"] + label .bul{top:2px}
.container .agree_list{padding:27px 0; border-top: 1px solid #D7DBEC;}
.container .agree_list .inputCheck{margin-bottom: 20px; padding-right:50px;}

/* ========== PROGRAM ========== */
/*선택진료프로그램*/
.program_list{display: -webkit-flex;display: flex;-webkit-justify-content: flex-start;justify-content: flex-start;flex-wrap: wrap; margin-top: 8px;}
.program_list .program_item{display:block; padding: 4px 8px; margin-right: 4px; margin-top: 8px; -webkit-border-radius: 16px; border-radius: 16px;font-weight: 500; font-size: 12px; line-height: 17px;color: #31313D;}

/*program_list*/
.container.prog_list{padding-bottom: 0;}
.container.prog_list .contents{padding-bottom: 40px;}
.prog_list .box_wrap{position:relative; padding-top:50px; margin-top: 0;}
.container.prog_list .contents .swiper-pagination{width:100%; top:24px;}
/*program_01*/
.container.program_01{background:#fff; padding-bottom: 116px;}
.container.program_01 .contents{padding: 35px 32px 20px;}
.healthField_list .field_item{margin-bottom: 8px;}
.healthField_list .field_item:last-child{margin-bottom: 0px;}
.healthField_list .field_item input{display: none;}
.healthField_list .field_item label{display: block; padding:12.5px 20px; background: #EDEBFB; -webkit-border-radius: 8px; border-radius: 8px;font-weight:700;font-size: 16px; line-height: 23px; color: #6666CC;}
.healthField_list .field_item label i{width:20px; height:20px; margin-right: 12.5px; vertical-align: middle; background: #6666CC;}
.healthField_list .field_item input:checked + label{background: #6666CC; color:#fff;}
.healthField_list .field_item input:checked + label i{background: #fff;}
/*program_02*/
.container.program_02{padding-bottom: 116px;}
.container.program_02 .contents{padding-bottom:32px;}
.container.program_02 .metabolism_list .swiper-pagination{position:absolute; left: 0; bottom:-0px;}
.container.program_02 .metabolism_box{padding-bottom:24px;}
.container.program_02 .metabolism_cont p{display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal; height: 60px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.hospital_list{margin:0 -24px;}
.hospital_list .hospital_item{border-top: 1px solid #E6E9F4; }
.hospital_list .opener{display: none;}
.hospital_list .opener:checked + .hospital_item .hospital_detail{display: block;}
.hospital_list .opener:checked + .hospital_item .acco_arrow{transform: rotate(180deg);}
.hospital_list .hospital_tit{position:relative; padding:16px 24px}
.hospital_list .hospital_tit .title_05{display:inline-block; height:auto; padding-right: 28px;}
.hospital_list .hospital_tit .acco_arrow{position: absolute; right:0; top:0; display: block; width:52px; height:52px; padding:16px; background: #fff; text-align: center;}
.hospital_list .inputRadio.typeA input[type="radio"] + label .bul{top: 2px;}
.hospital_list .hospital_detail{padding:8px 24px 24px; display: none;}
.hospital_list .hospital_detail .medical_subject >*{margin-bottom: 8px;}
.hospital_list .hospital_detail .hospital_info ul li{display: -webkit-flex;display: flex; margin-top: 8px; }
.hospital_list .hospital_detail .hospital_info ul li .tit{width: 53px;}
.hospital_list .hospital_detail .hospital_info section{margin-top: 24px;}
/*program_03*/
.container.program_03{padding-bottom: 116px;}

/*modal*/
.modal-mask {position: fixed;z-index: 9998;top: 0;left: 0;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.5);display: table;transition: opacity 0.3s ease;}
.modal-wrapper {display: table-cell;vertical-align: middle;}
.modal-container {width: 270px;margin: 0px auto;padding: 20px 16px;background-color: #fff; -webkit-border-radius: 14px;border-radius: 14px;box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);transition: all 0.3s ease;}
.modal-header{margin: 0 0 2px;}
.modal-header h3 {margin-top: 0;font-size: 16px;font-weight: 700;line-height: 23px;color: #31313D;text-align: center;}
.modal-body>*{font-size: 14px;line-height: 20px;color: #31313D; font-weight: 400; text-align: center;}
.modal-footer{display: -webkit-box;margin: 20px -16px -20px; border-top: 1px solid #D7DBEC; z-index: 9991;}
.modal-footer button{display: block;-webkit-box-flex: 1;width: 100%;height: 44px;-webkit-border-radius: 0;border-radius: 0;padding: 0;margin: 0;border: 0;font-size: 16px;font-weight: 400;color: #7E84A3;line-height: 44px;text-align: center;box-shadow: none;}
.modal-footer button+button{border-left: 1px solid #D7DBEC;}
.modal-footer .modal-default-button{font-weight: 700;color: #6765E9;}
/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {opacity: 0;}
.modal-leave-active {opacity: 0;}
.modal-enter .modal-container,
.modal-leave-active .modal-container {-webkit-transform: scale(1.1);transform: scale(1.1);}
.modal-textColor {color: #6765E9;}
