@charset "utf-8";
/*main_home*/
.main .contents{padding:0 16px 30px;}

/*선택진료프로그램*/
.program_list{display: -webkit-flex;display: flex;-webkit-justify-content: flex-start;justify-content: flex-start;flex-wrap: wrap; margin-top: 8px;}
.program_list .program_item{display:block; padding: 4px 8px; margin-right: 4px; margin-top: 8px; -webkit-border-radius: 16px; border-radius: 16px;font-weight: 500; font-size: 12px; line-height: 17px;color: #31313D;}
/* 건강신호등 - 대사 */
.main .contents .metabolism_list{position:relative; padding-bottom: 11px;}
.main .contents .swiper-pagination{position:absolute; left: 0; bottom:1px; width:100%; height:11px; text-align: center;}
.main .contents .swiper-pagination .swiper-pagination-bullet{width:11px; height:11px; margin-right: 6px; -webkit-border-radius: 50%; border-radius: 50%; background:#D7DBEC; opacity: 1;}
.main .contents .swiper-pagination .swiper-pagination-bullet-active{background: #6765E9;}

.main .metabolism_box{padding-bottom:24px;}
.main .metabolism_cont p{display: inline-block; width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; white-space: normal; height: 60px; text-align: left; word-wrap: break-word; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical;}
.main .metabolism_state{position:relative; padding-left: 30px; margin-top: 18px; height: 23px;font-size: 16px; font-weight: 700; line-height: 23px; color:#D7DBEC;}
.main .metabolism_state::before{content: ''; position:absolute; left:0; top:2px; display: inline-block; width:20px; height:20px; -webkit-border-radius:10px; border-radius: 10px; background:#D7DBEC;}
.main .metabolism_state[class*="state0"]{color:#31313D;}
.main .metabolism_state.state01::before{background:#4caf50; }
.main .metabolism_state.state02::before{background:#ffc107; }
.main .metabolism_state.state03::before{background:#F63E3E; }
/* 오늘의 복약정보 */
.main .medication_info .medication_time{display: -webkit-flex;display: flex;-webkit-justify-content: flex-start;justify-content: flex-start; margin-bottom:16px;}
.main .medication_info .medication_time li{margin-right: 20px;font-size: 20px;font-weight: 700;line-height: 29px;color: #31313D;}
.main .medication_info .medication_time li.active{color: #6765E9;}
.main .medication_info .medication_detail .detail_cont{display: none;}
.main .medication_info .medication_detail .detail_cont.active{display:block;}
.main .medication_info .medication_detail .medication_notice{position:relative; margin-bottom: 18px; padding-left: 30px; display: -webkit-flex;display: flex;-webkit-justify-content: space-between;justify-content: space-between;}
.main .medication_info .medication_detail .medication_notice::before{content: ''; display: block; width:18px; height:21px; position: absolute; left: 0; top:5px; background: url(/resources/images/common/header_footer.png)no-repeat -79.3px -19.3px; background-size: 200px;}
.main .medication_info .medication_detail .medication_notice .title_05{line-height: 30px;}

.main .contents .mainMy_info{margin-top: 24px; font-size: 14px; line-height: 20px; color: #808080;}
.main .contents .mainMy_info .num{margin-right: 4px; color: #6765E9; font-size: 20px; font-weight: 700; line-height: 29px;}

.donut_wrap{display: -webkit-flex;display: flex;margin-top: 24px; -webkit-justify-content: flex-start;justify-content: flex-start;}
.donut_wrap .donut_graph{position: relative; flex: none; display: block; width: 83px; height: 83px; -webkit-border-radius: 42px; border-radius: 42px;background: #F5F6FA;}
.donut_wrap .donut_graph::after{content:''; display:block; width:50px; height:50px; -webkit-border-radius: 50%; border-radius: 50%; position:absolute; left:50%; top:50%; transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%); -moz-transform:translate(-50%, -50%); -o-transform:translate(-50%, -50%); -ms-transform:translate(-50%, -50%); background:url(/resources/images/common/ico_step.png)no-repeat center #fff; background-size: 16.1px;}
.donut_wrap .donut_graph .donut_chart{transform: rotate(180deg);}
.donut_wrap .step_txt{padding-left: 21px;}
.donut_wrap .step_txt .step{font-size: 14px; color: #808080; line-height: 20px;}
.donut_wrap .step_txt .graph_num{margin-right: 4px; font-size: 20px; font-weight: 700; line-height: 29px; color: #6765E9;}

.graph_vertical{margin-top: 25px; display: -webkit-flex; display: flex;-webkit-justify-content: space-around;justify-content: space-around;}
.graph_vertical li{text-align: center;}
.graph_vertical li p{font-size: 14px; color: #808080; line-height: 20px;}
.graph_vertical li .graph_bar{position:relative; width:16px; height: 131px; margin:0 auto 4px;}
.graph_vertical li .graph_bar::before{content: ''; display: block; position:absolute; left:0; bottom:0; width:100%; height: 16px; background: #F5F6FA;}
.graph_vertical li .graph_bar .graph_percent{position:absolute; left:0; bottom:0; z-index: 10; width: 100%; height: 100%;}
.graph_vertical li:nth-child(1) .graph_bar .graph_percent{background:#F17662;}
.graph_vertical li:nth-child(2) .graph_bar .graph_percent{background:#43B6CB;}
.graph_vertical li .graph_num{margin-bottom: 4px; font-size: 20px; font-weight: 700; line-height: 29px; color: #6765E9;}
.no_data .num,
.no_data .graph_num{color: #E6E9F4!important;}

.graph_horizontal{margin-top: 24px;}
.graph_horizontal li {margin-top: 16px;}
.graph_horizontal li .graph_bar{position:relative; height:16px; width:100%;}
.graph_horizontal li .graph_bar::before{content: ''; display: block; position:absolute; left:0; bottom:0; width:16px; height: 16px; background: #F5F6FA;}
.graph_horizontal li .graph_bar .graph_percent{position:absolute; left:0; bottom:0; z-index: 10; width: 100%; height: 100%;}
.graph_horizontal li:nth-child(1) .graph_bar .graph_percent{background:#9792FF;}
.graph_horizontal li:nth-child(2) .graph_bar .graph_percent{background:#6666CC;}
.graph_horizontal li .graph_tit{margin-bottom: 8px;}
.graph_horizontal li .graph_tit >*{display: inline-block;}
.graph_horizontal li .graph_tit .month{margin-right: 8px; font-size: 20px; font-weight: 700; line-height: 29px; color: #31313D;}
.graph_horizontal li .step{font-size: 14px; color: #808080; line-height: 20px;}
.graph_horizontal li .graph_num{margin-right: 4px; font-size: 20px; font-weight: 700; line-height: 29px; color: #6765E9;}
